In [8]:
# IMPORTANDO OS DADOS
import numpy as np
import pandas as pd

In [2]:
# Serie de 5 numeros aleatorios, com uma coluna Column 01
ser = pd.Series(np.random.random(5), name = "Column 01")
ser

0    0.030484
1    0.505354
2    0.644788
3    0.906371
4    0.736106
Name: Column 01, dtype: float64

In [3]:
# Acessando o 3 indice da serie
ser[2]

0.6447884605852385

In [6]:
# Data - Função do pandas_datareader que importa dados da web
from pandas_datareader import data as web

In [7]:
# Função DataReader, busca na fonte yahoo
# dados da Proctor and Gamble, começando de 1/1/1995
# 1 - Simbulo da ação (ticker em inglês)
# 2 - Fonte dos dados
# 3 - Data de inicial da busca dos dados
PG = web.DataReader('PG', data_source='yahoo', start='1995-1-1')
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.362402
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.311406
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.222151
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.234900
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.209402
...,...,...,...,...,...,...
2020-04-08,117.300003,111.860001,114.389999,115.099998,12564500.0,115.099998
2020-04-09,118.660004,114.199997,115.260002,114.660004,12748600.0,114.660004
2020-04-13,116.750000,113.160004,113.610001,115.949997,7926700.0,115.949997
2020-04-14,121.470001,116.250000,118.760002,120.959999,10471200.0,120.959999
2020-04-15,123.419998,119.589996,120.860001,121.849998,7156002.0,121.849998

Organizado os Dados

In [9]:
# Sempre dê uma olhada nos dados após carregar
# Uma breve análise preliminar pode evitar perda de tempo
# Se houver algo de errado, melhor trocar a fonte

# Colunas: de Open até Adj Close
# Datas: são índice/rótulos das linhas, cada data um ponto da serie
# O índice começa sempre em 0

# Adj Close
# Nos primeiros anos, está longe do fechamento
# Já no final é igual, isso em função de dividendos, auemnto de capital e desdobramentos

# São apresentados apenas os dias de negociação!!! E não corridos

In [10]:
# Informações sobre o dataframe
# Quantas entradas de dados existem: 6366
# Intervalo: 1995.. to 2020..
# Dtype indica que tipo de dado há na coluna
# Non-full, não há valores faltantes
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6366 entries, 1995-01-03 to 2020-04-15
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6366 non-null   float64
 1   Low        6366 non-null   float64
 2   Open       6366 non-null   float64
 3   Close      6366 non-null   float64
 4   Volume     6366 non-null   float64
 5   Adj Close  6366 non-null   float64
dtypes: float64(6)
memory usage: 348.1 KB

In [11]:
# Retorna as primeiras 5 linhas da base de dados
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362402
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311406
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222151
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234900
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209402

In [12]:
# Retorna as últimas 5 linhas da base de dados
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-04-08,117.300003,111.860001,114.389999,115.099998,12564500.0,115.099998
2020-04-09,118.660004,114.199997,115.260002,114.660004,12748600.0,114.660004
2020-04-13,116.750000,113.160004,113.610001,115.949997,7926700.0,115.949997
2020-04-14,121.470001,116.250000,118.760002,120.959999,10471200.0,120.959999
2020-04-15,123.419998,119.589996,120.860001,121.849998,7156002.0,121.849998

In [13]:
# Retorna as primeiras 20 linhas da base de dados
# 20 é a quantidade específica que quero retornar
PG.head(20)

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362402
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311406
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222151
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234900
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209402
1995-01-10  15.43750  15.18750  15.28125  15.40625  4364000.0   6.285902
1995-01-11  15.59375  15.37500  15.59375  15.37500  3738400.0   6.273152
1995-01-12  15.53125  15.31250  15.37500  15.53125  3307600.0   6.336905
1995-01-13  15.84375  15.53125  15.59375  15.62500  3992800.0   6.522133
1995-01-16  15.96875  15.75000  15.90625  15.75000  3677200.0   6.574313
1995-01-17  15.81250  15.65625  15.71875  15.81250  2437600.0   6.600400
1995-01-18  15.75000  15.43750  15.68750  15.46875  3535200.0   6.456914
1995-01-19  15.40625  15.34375  15.34375  15.40625  2491200.0   6.430823
1995-01-20  15.40625  15.25000  15.40625  15.34375  5130800.0   6.404732
1995-01-23  15.50000  15.18750  15.18750  15.50000  3147200.0   6.469954
1995-01-24  15.53125  15.37500  15.50000  15.46875  2016400.0   6.456914
1995-01-25  15.78125  15.43750  15.50000  15.68750  2802400.0   6.548223
1995-01-26  15.84375  15.68750  15.71875  15.75000  3124000.0   6.574313
1995-01-27  16.25000  15.81250  15.81250  16.18750  6247200.0   6.756927
1995-01-30  16.56250  16.09375  16.12500  16.43750  5226400.0   6.861286

In [14]:
# Retorna as últimas 20 linhas da base de dados
# 20 é a quantidade específica que quero retornar
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-03-18,121.500000,112.089996,113.019997,117.449997,23139200.0,117.449997
2020-03-19,118.000000,109.790001,116.610001,110.830002,16428100.0,110.830002
2020-03-20,109.699997,101.589996,109.190002,102.430000,19922900.0,102.430000
2020-03-23,103.750000,94.339996,100.190002,97.699997,17776800.0,97.699997
2020-03-24,104.000000,96.070000,101.230003,103.269997,14625500.0,103.269997
2020-03-25,104.699997,98.599998,100.510002,100.919998,13789100.0,100.919998
2020-03-26,108.309998,102.529999,103.879997,107.379997,15796000.0,107.379997
2020-03-27,114.290001,106.489998,106.489998,110.169998,16073100.0,110.169998
2020-03-30,115.790001,110.199997,113.900002,115.000000,14571600.0,115.000000
2020-03-31,114.290001,108.949997,113.500000,110.000000,21691000.0,110.000000
2020-04-01,112.180000,107.000000,107.949997,109.330002,11095800.0,109.330002
2020-04-02,114.989998,107.500000,107.690002,114.400002,9168800.0,114.400002
2020-04-03,115.900002,113.010002,113.739998,115.080002,7768700.0,115.080002
2020-04-06,119.000000,114.580002,117.000000,117.809998,16848400.0,117.809998
2020-04-07,120.059998,112.500000,116.709999,112.769997,14438400.0,112.769997
2020-04-08,117.300003,111.860001,114.389999,115.099998,12564500.0,115.099998
2020-04-09,118.660004,114.199997,115.260002,114.660004,12748600.0,114.660004
2020-04-13,116.750000,113.160004,113.610001,115.949997,7926700.0,115.949997
2020-04-14,121.470001,116.250000,118.760002,120.959999,10471200.0,120.959999
2020-04-15,123.419998,119.589996,120.860001,121.849998,7156002.0,121.849998

In [16]:
# Mostrando 5 colunas de preço ajustado de 5 empresas diferentes
# Só funciona se estiverem organizados da mesma forma, com os mesmo nomes nas colunas

tickers = ["PG", "MSFT", "T", "F", "GE"]
# new_data: Pandas Data Frame de cada valor da lista tickers
new_data = pd.DataFrame()
for t in tickers:
    # t = valor de tickers em seu índice da lista
    # new_data[t]: Recebe o data frame da lista tickers em sua posição
    # De 0 até -1 da lista, retornado ["coluna que quer"]
    new_data[t] = web.DataReader(t, data_source="yahoo", start="1995-1-1")["Adj Close"]

In [17]:
# Imprime na tela apenas as 5 últimas observações
new_data.tail()

                    PG        MSFT          T      F     GE
Date
2020-04-08  115.099998  165.130005  29.889999  5.030  7.300
2020-04-09  114.660004  165.139999  30.730000  5.370  7.140
2020-04-13  115.949997  165.509995  30.190001  5.160  7.020
2020-04-14  120.959999  173.699997  31.129999  5.290  6.930
2020-04-15  122.000000  173.475006  30.194201  5.065  6.435