In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas_datareader import data as web

C:\Users\luisg\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [13]:
PG = web.DataReader("PG", data_source="yahoo", start="2015-01-01")

In [11]:
tickers = ["PG", "MSFT", "T", "F", "GE"]
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = web.DataReader(t, data_source='yahoo', start="2015-1-1")["Close"]

In [12]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,91.000000,89.919998,90.839996,90.440002,7251400.0,76.791748
2015-01-05,91.000000,89.849998,90.230003,90.010002,8626100.0,76.426643
2015-01-06,90.559998,89.260002,90.309998,89.599998,7791200.0,76.078514
2015-01-07,90.370003,89.559998,89.940002,90.070000,5986600.0,76.477600
2015-01-08,91.230003,90.129997,90.480003,91.099998,6823300.0,77.352142
...,...,...,...,...,...,...
2020-04-08,117.300003,111.860001,114.389999,115.099998,12564500.0,115.099998
2020-04-09,118.660004,114.199997,115.260002,114.660004,12748600.0,114.660004
2020-04-13,116.750000,113.160004,113.610001,115.949997,7926700.0,115.949997
2020-04-14,121.470001,116.250000,118.760002,120.959999,10471200.0,120.959999
2020-04-15,123.419998,119.589996,120.860001,121.220001,13385918.0,121.220001

In [18]:
new_data.tail(320)

                    PG        MSFT          T     F        GE
Date
2019-01-08   92.459999  102.800003  31.280001  8.37  8.230769
2019-01-09   90.949997  104.269997  30.100000  8.72  8.173077
2019-01-10   91.169998  103.599998  30.400000  8.67  8.596154
2019-01-11   91.769997  102.800003  30.870001  8.82  8.596154
2019-01-14   91.150002  102.050003  30.620001  8.99  8.557693
...                ...         ...        ...   ...       ...
2020-04-08  115.099998  165.130005  29.889999  5.03  7.300000
2020-04-09  114.660004  165.139999  30.730000  5.37  7.140000
2020-04-13  115.949997  165.509995  30.190001  5.16  7.020000
2020-04-14  120.959999  173.699997  31.129999  5.29  6.930000
2020-04-15  121.220001  171.880005  30.090000  5.03  6.500000

[320 rows x 5 columns]

In [26]:
AMBEV = web.DataReader("ABEV", data_source="yahoo", start="2015-1-1")

In [28]:
AMBEV

            High   Low  Open  Close      Volume  Adj Close
Date
2015-01-02  6.11  5.86  6.10   5.95  20472500.0   5.104461
2015-01-05  5.85  5.70  5.76   5.84  17542900.0   5.010093
2015-01-06  6.09  5.84  5.85   6.06  22492100.0   5.198829
2015-01-07  6.21  6.07  6.12   6.16  23427500.0   5.284619
2015-01-08  6.23  6.10  6.12   6.19  10792200.0   5.340702
...          ...   ...   ...    ...         ...        ...
2020-04-08  2.44  2.34  2.43   2.41  19454700.0   2.410000
2020-04-09  2.48  2.40  2.46   2.40  23992800.0   2.400000
2020-04-13  2.37  2.32  2.34   2.36  30193500.0   2.360000
2020-04-14  2.44  2.35  2.40   2.36  19319700.0   2.360000
2020-04-15  2.33  2.24  2.31   2.29  24027821.0   2.290000

[1330 rows x 6 columns]